var config = {
    i2c:     {
	device:	'/dev/i2c-1'		// Set to sensor I2C channel (/dev/i2c-1 for Raspberry Pi B(+))
	},

    network: {
	ip_address: 	'10.10.10.10',
	port:		3000
	},

    sensor: {
	PCA9685: {	
		scan:	false,		// System value, don't set. (used for scan i2c devices)
		addr:	0x40		// I2C device address (set this one to correct value)
	},
	MPU9150: {	
		scan:	false,		// System value, don't set. (used for scan i2c devices)
		addr:	0x69		// I2C device address (set this one to correct value)
	},
	MS5803: {	
		scan:	false,		// System value, don't set. (used for scan i2c devices)
		addr:	0x76		// I2C device address (set this one to correct value)
	},
	MCP3424: {	
		scan1:	false,		// System value, don't set. (used for scan i2c devices)
		scan2:	false,		// System value, don't set. (used for scan i2c devices)
		addr1:	0x6c,		// I2C device address (set this one to correct value)
		addr2:	0x6d		// I2C device address (set this one to correct value)
	},
    },

    esc: {				// Electronic Speed Controller
	on_off:		{
		channel:	6	// Used for RELAY switch to power ESC's (-1 = UNUSED)
	},
	engine_1:	{
		channel:	15,
		init:		false,  // Set to "true" if ESC's need to be primed. (full forward/ full backwards)
		brake:		true,   // Set to "true" if you have ESC's with a brake function.
                min:		200,
                max:		500,
                neutral:	350
    	},
	engine_2:	{
		channel:	14,
		init:		false,  // Set to "true" if ESC's need to be primed. (full forward/ full backwards)
		brake:		true,   // Set to "true" if you have ESC's with a brake function.
                min:		200,
                max:		500,
                neutral:	350
    	},
	engine_3:	{
		channel:	13,
		init:		false,  // Set to "true" if ESC's need to be primed. (full forward/ full backwards)
		brake:		true,   // Set to "true" if you have ESC's with a brake function.
                min:		200,
                max:		500,
                neutral:	350
    	},
	engine_4:	{
		channel:	12,
		init:		false,  // Set to "true" if ESC's need to be primed. (full forward/ full backwards)
		brake:		true,   // Set to "true" if you have ESC's with a brake function.
                min:		200,
                max:		500,
                neutral:	350
    	},
    },

    movement: {
	forward:	{
		engine:	'engine_1'
	},
    },

    camera: {
	left_right:	0,
	up_down:	1
    },

    light: {
	channel:	7
    }
};

module.exports = config;
